@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #ebf0f7;
}

#root {
  display: flex;
  height: 100vh;
}